In [ ]:
# unit 13~18

In [44]:
#13
price = int(input())
coupon = input()

import re
sale = int(re.sub('[A-Za-z]','',coupon))

print(price-sale)

24000

In [26]:
#14

korean, english, math, science = map(int,input().split())

average = (korean + english + math + science)/4

if korean<0 or korean>100 or english<0 or english>100 \
    or math<0 or math>100 or science<0 or science>100:
    print('잘못된 점수입니다.')
elif average >= 80:
    print('합격')
else:
    print('불합격')

불합격

In [29]:
#15
age = int(input())
balance = 9000    # 교통카드 잔액

if age >= 7 and age <= 12:
    balance = balance - 650
elif age >= 13 and age <= 18:
    balance = balance - 1050
elif age >= 19:
    balance = balance - 1250

print(balance)

8350

In [31]:
#16
n = int(input())

for i in range(1,10):
    print(f' {n} * {i} = {n*i}' )

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63

In [37]:
#17
#표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

balance = int(input())

while balance >= 1350:
    balance = balance - 1350
    print(balance)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [ ]:
#18
start, stop = map(int, input().split())
 
i = start
 
while True:

_____________________
_____________________
_____________________
_____________________
    print(i, end=' ')
    i += 1