## 여러개 입력 처리

In [1]:
a = 'red green blue'
a.split()
# string 을 split 처리하면 리스트로 만들어줌

['red', 'green', 'blue']

In [3]:
b = 'red,green,blue'
b.split(',')

['red', 'green', 'blue']

In [6]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하세요')
string

'빨강 초록 파랑'

In [10]:
r, g, b = string.split()  #리스트 언패킹
r, g, b

('빨강', '초록', '파랑')

In [12]:
numbers = ['3.1','2.4','8.5']

list(map(float, numbers))

# map() : 여러 개의 데이터를 한 번에 다른 형태로 변환
# 따라서, 여러 개의 데이터를 담고 있는 list나 tuple을 대상으로 주로 사용하는 함수입니다.
# map(변환 함수,  데이터)

[3.1, 2.4, 8.5]

In [15]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [16]:
string = input('실수 세개를 빈칸으로 구분하여 입력하세요.')
string

'3.1 2.3 5.4'

In [18]:
type(string)

str

In [21]:
list( map(float, input('실수 세 개 입력').split()))

[3.3, 4.5, 2.5]

In [23]:
x, y, z = list( map(float, input('실수 세 개 입력').split()))  #리스트 언패킹
x , y, z

(3.3, 2.5, 6.7)

In [24]:
x, y, z = map(float, input('실수 세 개 입력').split()) #리스트 쓰지 않아도 가능
x, y, z

(3.2, 4.5, 2.9)