### 조건문 연습문제 과제

1. 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [ ]:
year = int( input('연도를 입력하세요.') )
if year % 400 == 0:
    print('윤년입니다.')
elif year % 100 != 0 and year % 4 == 0:
    print('윤년입니다.')
else:
    print('윤년이 아닙니다.')

2. 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오

In [ ]:
from datetime import date
today = date.today()
today.year, today.month, today.day

In [ ]:
# 세는 나이
age = today.year - birth_year + 1
age

In [ ]:
# 만 나이
birth_year = int(input('출생년도를 입력하세요:'))
birth_month = int(input('출생 월을 입력하세요:'))
birth_day= int(input('출생 일자를 입력하세요:'))

if birth_month >= today.month and birth_day >= today.day:
    print(age - 1)
else:
    print(age - 2)

3. 세 자연수 a, b, c 가 피타고라스 정리 a^2 + b^2 = c^2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c) 예를 들면, 3^2 + 4^2 = 9 + 16 = 25 = 5^2 이므로 3, 4, 5는 피타고라스 수입니다.
a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [ ]:
for a in range(1,1001):
    for b in range(1,1001):
        c=1000-a-b
        if a**2+b**2 == (1000-a-b)**2 and a < b < 1000-a-b:
            print(a,b,c)

### 반복문 연습문제 과제

1.(별 그리기)
5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.
예) N=7

2. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨. 00:00 (60초간 표시)	00:01 	…		23:59

3. 1~1000에서 각 숫자의 개수를 구하시오.
- 예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자.		10 = 1, 0 /
11 = 1, 1	/	12 = 1, 2	/	13 = 1, 3	/	14 = 1, 4	/  15 = 1, 5
그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [ ]:
list=[0,0,0,0,0,0,0,0,0,0] 
for i in range(1,1001): 
  for j in (str(i)):
    list[int(j)]+=1 

for k in range(10): 
  print(k,":",list[k],"개")

4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다.예를 들면, 6과 28은 완전수이다.		6=1+2+3         # 1,2,3은 각각 6의 약수 		28=1+2+4+7+14   # 1,2,4,7,14는 각각 28의 약수. 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.

In [ ]:
a = int(input('자연수를 입력하시오.'))
c= []
for i in range(1, a+1):           
    b= []
    for j in range(1, i):        
        if i % j == 0:
            b.append(j)
    if sum(b) == i:
            c.append(i)
print(c)

5.

In [ ]:
a = int(input('자연수를 입력하시오.'))
b=[]
d=[]

for i in range(1,a+1):
    b.append(i)
    c = sum(b)**2
    d.append(i**2)
    e = sum(d)
    
print(c-e)