# 7장. 자료 구조

### 1. 스택(Stack)


스택은 데이터의 삽입과 삭제가 데이터의 가장 한쪽 끝에서만 일어나는 자료구조

가장 마지막에 삽입된 데이터가 가장 먼저 사용되거나 삭제된다.

이를 후입선출 ( LIFO - Last In, First Out )이라고 한다.

In [3]:
stack = [1,2,3]
stack.append(4)   #push의 역할 #데이터를 삽입하는 과정을 push
stack

[1, 2, 3, 4]

In [4]:
stack.pop() #가장 마지막에 삽입한 데이터를 삭제하는 과정을 pop

4

In [5]:
stack

[1, 2, 3]

In [13]:
# 입력한 문자열을 거꾸로 추출
word = input('단어 입력')
word_list = list(word)
print(word_list)

result = []

for i in range(len(word_list)):    #for 변수 in range(횟수):
    result.append(word_list.pop())
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)

In [ ]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a.pop(0) #인덱스가 0번째인 값을 쓴다는 의미로, 맨 앞에서 부터 뽑는 것

In [15]:
queue = [1,2,3,4]
queue.pop(0)

1

In [16]:
queue

[2, 3, 4]

스택과 큐라는 자료구조형이 있다기보다는,


스택과 큐는 리스트를 이용해서 만들 수 있는 자료구조로 이해하면 됨.

### 3. 튜플(Tuple)
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.

- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

- 따라서 학번, 주민등록번호 등 변경되면 안되는 값에 사용 가능

In [21]:
t = (1, 2, 3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [19]:
# 괄호가 없어도 튜플로 인식
t = 1, 2, 3
t

(1, 2, 3)

In [22]:
t.count(1)

1

In [23]:
# 시퀀스 자료형이므로 for문에서 사용 가능
for element in t:
    print(element)

1
2
3

### 4. 세트(Set)

- 파이썬의 세트는 수학의 집합과 마찬가지로 다양한 집합 연산을 제공한다.

In [31]:
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [32]:
s = set((1,2,3,4))
s

{1, 2, 3, 4}

In [28]:
#CRUD
s.add(4)

In [29]:
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}

In [30]:
s.remove(7)
s

{1, 2, 3, 4, 5}

In [34]:
s.discard(3)
s

{1, 2, 4}

In [37]:
s.clear()
s

set()

In [38]:
s1 = set(range(1,6))
s2 = set(range(3,8))
s1,s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [41]:
# 합집합 (Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [42]:
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [46]:
s1|s2  #합집합 기호 |

{1, 2, 3, 4, 5, 6, 7}

In [43]:
# 교집합(Intersection)
s1.intersection(s2) 

s1&s2 #교집합 기호 &

{3, 4, 5}

In [44]:
# 차집합(Difference)
s1.difference(s2)

s1-s2 #차집합 기호

{1, 2}